{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@utoniq": "./utoniq-base/packages"
                }
            }
        ]
    ]
}
